* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
  height: 100vh;
}

#content {
  margin: 25px;

  min-width: 300px;
  padding: 25px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #6c757d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  height: 75px;
}

input[type="text"] {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.6);
}
button {
  border: none;
  background-color: transparent;
  color: #fff;
}
.btn.add {
  background-color: #28a746;
  border: none;
  cursor: pointer;
}

/* User Detail page */

.user-info-container {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.user-img {
  height: 200px;
  border-radius: 5px;
}
.user-info {
  height: 200px;
}

.cancel {
  background-color: #fff;
  border: 1px solid #007cff;
  color: #007cff;
  cursor: pointer;
}
.edit {
  background-color: #007cff;
}

.delete {
  background-color: #dc3545;
}

.user-posts {
  margin-top: 15px;
}

.post-list {
  margin: 10px 0 0 30px;
}

/* Post Details Page */
.post-info-container {
  display: flex;
  flex-direction: column;
}

.post-content {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tags-container {
  display: flex;
  margin-top: 20px;
}

.tag-links-container {
  margin-left: 10px;
}

.tag-btn {
  background-color: #007cff;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 5px;
}

.tag-addbtn-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Tags Detail page */

.tag-heading {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 5px;
}

.tag-links-container {
}
