{% extends 'base.html' %} {% block title %}Blogly Users{% endblock %} {% block
page_title %}User Edit Page{% endblock %} {% block content %}

<form action="/users/{{user.id}}/edit" method="post">
  <div class="input-container">
    <label for="firstName">First Name</label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      placeholder="Enter a first name"
      value="{{user.first_name}}"
    />
  </div>

  <div class="input-container">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      name="lastName"
      id="lastName"
      placeholder="Enter a last name"
      value="{{user.last_name}}"
    />
  </div>

  <div class="input-container">
    <label for="imageUrl">Image URL</label>
    <input
      type="text"
      name="imageUrl"
      id="imageUrl"
      placeholder="Provide an image of this user"
      value="{{user.image_url}}"
    />
  </div>

  <a href="/users/{{user.id}}" class="btn cancel">Cancel</a>
  <button class="btn add">Save</button>
</form>

{% endblock %}
