{% extends 'base.html' %} {% block title %}Blogly Users{% endblock %} {% block
page_title %}Edit Post Page{% endblock %} {% block content %}

<form action="/posts/{{post.id}}/edit" method="post">
  <div class="input-container">
    <label for="post-title">Title</label>
    <input
      type="text"
      name="post-title"
      id="post-title"
      value="{{post.title}}"
    />
  </div>

  <div class="input-container">
    <label for="post-content">Content</label>
    <textarea name="post-content" id="" cols="30" rows="10">
{{post.content}}</textarea
    >
  </div>
  <!-- end original -->
  <div class="tag-addbtn-container">
    <div class="tags-checkbox-container">
      {% for tag in tags %} <input type="checkbox" id="tag{{tag.id}}"
      name="added-tags" value="{{tag.name}}" {{ "checked" if tag in post_tags }}
      />
      <label for="tag{{tag.id}}">{{tag.name}}</label><br />
      {% endfor %}
    </div>
    <div class="post-btn-container">
      <a href="/posts/{{post.id}}"
        ><button class="btn cancel" type="button">Cancel</button></a
      >
      <button class="btn add">Add</button>
    </div>
  </div>
  <!-- Below original -->
</form>

{% endblock %}

<!-- {{ "checked" if proxy_mode == 0 }} -->
